/**
 * Theme selector styles
 */
.theme-selector.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.theme-selector .theme {
  cursor: pointer;
  width: 100px;
  z-index: 1;
  transform: translateX(-50px) translateY(50px) rotateX(15deg) rotateY(-50deg) scale(0.75);
  transform-style: preserve-3d;
  transition: all 500ms ease-out;
}
.theme-selector .theme :first-child {
  box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.5);
}
.theme-selector .theme:hover,
.theme-selector .theme.active {
  width: 300px;
  z-index: 10;
  transform: translateY(25px) scale(1) rotate(0);
  transition-delay: 100ms;
}
